<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whiteguru.capacitor.plugin.mediacapture">

    <application>
        <activity
            android:name="MediaCapturePluginActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
    </application>
</manifest>
